html, body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    overflow: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background: none;
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

#layout_container {
    display: flex;
    height: 100%;
}

#selected_infoblock {
    position: absolute;
    bottom: 0;
    margin: 0;
    background: #ffffff;
    width: 100%;
    height: 400px;
}

.infoblock-container {
    overflow: scroll;
    height: 100%;
}

#sidebar_canvas {
    overflow: auto;
    position: relative;
    background: #fff;
}

#sidebar_canvas .close-sidebar {
    display: none;
}

#sidebar_canvas .menu-close {
    position: absolute;
    padding: 12px;
    background-color: transparent;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    visibility: hidden;
}

.date-time {
    margin-bottom: 5px;
}

#sidebar_canvas .menu-close svg, .settingsCloseBox svg {
    fill: #fff;
    stroke: #fff;
}

#sidebar_container.visible .menu-close {
    visibility: visible;
}

#sidebar_container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    right: 0;
    height: 100%;
    background-color: #fff;
    position: fixed;
    transform: translateX(105vw);
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

#settings_infoblock {
    position: fixed;
    right: 0px;
    width: 320px;
    min-height: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    transform: translateX(105vw);
    transition: all .2s ease-in-out;
    z-index: 10;
}

#settings_infoblock .settingsTitle {
    padding: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #323232;
}

#sidebar_container.visible, #settings_infoblock.visible {
    transform: translate(0, 0);
}

#map_container {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

#map_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#column_select {
    position: relative;
    float: right;
    background-color: #002F5D;
    color: #FFFFFF;
}

#column_select_window {
    position: absolute;
    right: 1px;
    top: 80px;
    width: 150px;
    min-height: 180px;
    background: #ffffff;
    box-shadow: 4px 4px 10px #444444;
    padding: 20px;
    z-index: 9999;
    display: none;
}

#column_select_header {
    display: table;
    background-color: #002F5D;
    color: #ffffff;
    font-size: smaller;
    padding: 5px;
    text-align: center;
    width: 120px;
}

#column_select_close_box {
    position: absolute;
    right: 15px;
    top: 21px;
    background-image: url('../images/close-settings.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.columnOptionContainer {
    position: relative;
    display: table;
    padding-top: 5px;
    left: 20px;
}

.columnOptionSelectAllContainer {
    position: relative;
    display: table;
    padding-top: 5px;
}

.columnOptionText {
    position: relative;
    line-height: 10px;
    display: table-cell;
    width: 100%;
    left: 5px;
}

.right-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 0;
    bottom: 0;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    align-items: center;
    overflow: hidden;
}

.date-nav {
    padding: 10px;
    color: #fff;
    text-align: center;
    margin-top: auto;
    font-weight: 700;
}

#toggle_sidebar_control {
    display: flex;
    padding: 0;
    position: relative;
    flex-direction: column;
}

.logo img {
    height: 65px;
    width: auto;
    margin-left: 3px;
}

.air-menu-wrapper {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 2000;
    bottom: 0;
    display: flex;
    transform: translate(-200%, 0);
    flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
    min-width: 300px;
    box-shadow: 0 0 0.4em 0 rgba(50, 50, 50, 0.5);
    color: #323232;
    background-color: #f4f6ff;
}

.air-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.air-menu .aircraft-data::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 0.2em;
}

.air-menu .aircraft-data::-webkit-scrollbar-track {
    background: #efeff4;
}

.air-menu .aircraft-data::-webkit-scrollbar-thumb {
    background-color: #007bff;
}

.air-menu a:hover {
    text-decoration: none;
}

.air-menu .aircraft-data {
    position: relative;
    overflow: hidden;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    box-sizing: content-box;
    background-color: #f4f6ff;
}

.aircraft-header {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    color: #fff;
}

.air-menu .aircraft-data>div {
    width: calc(400px - 0.3em);
}

.air-menu .aircraft-data:hover {
    overflow-y: auto;
}

.air-menu .aircraft-data .about {
    width: 102%;
}

.air-menu-wrapper.visible {
    transform: translate(0, 0);
}

.air-menu .menu-title {
    display: flex;
    padding: 12px 10px 5px 15px;
    align-items: center;
    justify-content: space-between;
}

.air-menu .menu-title #close-button-menu {
    margin-top: -8px;
    margin-right: -5px;
    padding: 10px;
    cursor: pointer;
}

.air-menu .menu-title-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 0;
}

.air-menu .about .arrow {
    font-size: 14px;
}

.air-menu .menu-title-wrapper h2 {
    padding-right: 5px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 700;
}

.air-menu .menu-title-wrapper h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 2px;
}

.air-menu .airline-name {
    padding: 0px 15px 10px;
    font-size: 16px;
    font-weight: 600;
}

.air-menu .airportIata {
    display: flex;
    padding: 5px 10px 4px;
    justify-content: space-between;
    position: relative;
}

.air-menu .airportIata .airplane {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 57%;
    left: 30%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-animation: move 4s infinite;
    animation: move 3s infinite;
}

@-webkit-keyframes move {
    40% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 70%;
        opacity: 0;
    }
}

@keyframes move {
    40% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 70%;
        opacity: 0;
    }
}

.air-menu .airportIata>div {
    display: inline-flex;
    font-weight: 700;
    font-size: 30px;
    flex-basis: 27%;
    line-height: 1.1;
    width: auto;
}

.air-menu .airportTime>div:last-child {
    text-align: left;
}

.air-menu .airportIata>div:first-child {
    justify-content: flex-start;
}

.air-menu .airportIata>div:last-child {
    text-align: left;
}

.air-menu .flight-data {
    background-color: #fff;
    border-radius: 15px;
    margin: 25px 20px;
    -webkit-box-shadow: 0px 0px 45px -15px rgba(218, 227, 249, 1);
    box-shadow: 0px 5px 35px 5px rgba(218, 227, 249, 1);
    padding: 20px;
}

.circle-logo p {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.air-menu .airportCity {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.aircraft-info {
    display: flex;
    flex-wrap: wrap;
}
 
.air-menu .airportTime {
    display: flex;
    padding: 0 10px 0px;
    font-size: 12px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.6);
}

.air-menu .airportCity>div, .airportTime>div {
    display: inline-flex;
    justify-content: space-between;
    text-align: left;
    flex-basis: 27%;
}

.air-menu .airportCity>div {
    font-weight: 600;
}

.air-menu .timetable {
    display: flex;
    padding: 0;
    margin-left: 0.3em;
}

.timetable-sheduled {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.timetable.timetable-actual {
    margin-bottom: 20px;
}

.air-menu .timetable>div {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
}

.air-menu .timetable>div:first-child {
    border-right: solid 1px rgba(0, 0, 0, .1);
}

.air-menu .all-distance span {
    padding-left: 6px;
}

.air-menu .arrival-info {
    padding: 5px 20px;
}

.air-menu .timetable>div {
    display: flex;
    padding: 12px 10px 10px;
    justify-content: space-between;
    flex: 1;
}

.air-menu .timetable>div>span {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3px;
}

.air-menu .aircraft-info>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    font-size: 14px;
    padding-top: 25px;
}

.air-menu .aircraft-info>div.aircraft-country img {
    margin-top: 10px;
}

.air-menu .aircraft-info>div.aircraft_speed svg {
    margin-bottom: 8px;
}

.air-menu .aircraft-info>div:last-child {
    padding-bottom: 30px;
}

.air-menu .aircraft-info .aircraft-reg svg {
    margin-bottom: 6px;
}

.air-menu .aircraft-info .aircraft_track svg {
    margin-bottom: 4px;
}

.air-menu .aircraft-info .aircraft-country svg {
    margin-bottom: 6px;
}

#dump1090_total_ac, #dump1090_total_ac_positions, #dump1090_message_rate {
    margin-left: 5px;
}

.air-menu .aircraft-info>div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.air-menu .flight-data-aircraft>div svg {
    margin-bottom: 8px
}

.air-menu .flight-data-aircraft>div.aircraft_speed svg {
    margin-bottom: 5px;
}

.air-menu .aircraft-info>div span:last-child {
    margin-top: 3px;
    font-weight: 600;
    padding: 0 10px;
}

.air-menu .about {
    padding: 15px 20px;
    background-color: #fff;
    text-transform: uppercase;
    color: #323232;
    text-align: left;
    font-weight: bold;
    display: flex;
    border: solid 1px rgba(0, 0, 0, .1);
    justify-content: space-between;
}

.about.collapsed .arrow {
    transform: rotate(180deg);
    padding: 0;
}

.aircraft-image {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    background-color: rgba(255, 255, 255, 0.10);
}

.aircraft-info-wrapper {
    margin-top: -1px;
}

.spin-animation {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.air-menu .about>span {
    padding-left: 8px;
}

.air-menu .arrival-info svg {
    margin-bottom: 14px;
}

#toggle_sidebar_control {
    margin: 60px 0;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    height: 100%;
}

#toggle_sidebar_control a {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
}

#toggle_sidebar_control a img {
    width: 32px;
    height: 32px;
}

#toggle_sidebar_control a img {
    margin-top: 2px;
    margin-bottom: 2px;
}

#toggle_sidebar_control a.sign-out img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

#toggle_sidebar_control a:hover {
    background-color: #323232 !important;
}

#toggle_sidebar_control.ol-control button {
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
    height: 62px;
    padding: 10px;
}

#toggle_sidebar_control .ol-zoom {
    position: relative;
    top: 0;
    width: 100%;
    left: 0 !important;
}

#toggle_sidebar_control .ol-zoom-in, #toggle_sidebar_control .ol-zoom-out {
    width: 42px !important;
    height: 42px !important;
    margin-top: 25px !important;
    background-color: transparent !important;
    padding: 0px !important;
}

.ol-zoom-in {
    color: transparent !important;
    width: 34px !important;
    height: 34px !important;
    margin-bottom: 5px !important;
    background-color: rgba(50, 50, 50, .7) !important;
    padding: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#toggle_sidebar_button.show_sidebar {
    background-image: url("../images/airplane 4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 34px 34px;
}

#expand_sidebar_control {
    display: block;
    position: absolute;
    top: 48px;
    right: -3px;
}

#expand_sidebar_button {
    cursor: pointer;
    float: right;
    width: 24px;
    height: 25px;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
}

#expand_sidebar_button {
    background-image: url("../images/table-icon.png");
    background-size: cover;
}

#splitter {
    cursor: ew-resize;
    display: block;
    position: absolute;
    top: 125px;
    left: -24px;
    float: right;
    width: 24px;
    height: 25px;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
    background-image: url("../images/toggle-width@2x.png");
    background-size: cover;
    display: none !important;
}

#splitter-infoblock {
    cursor: ns-resize;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0;
    margin-left: auto;
    width: 24px;
    height: 4px;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: 0px;
    border: none;
    width: 100%;
    border-bottom: #234c75;
    background-color: #65819e;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#close-button {
    display: inline-block;
    position: absolute;
    top: 18px;
    color: #00A0E2;
    right: 30px;
    margin-left: auto;
    font-size: 75%;
    text-decoration: underline;
    cursor: pointer;
    background: #fff;
    padding: 3px;
    border-radius: 2px;
}

.ol-zoom-in::before {
    display: flex;
    margin: 2px auto 0;
    content: ' ';
    background-image: url('../images/plus.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.ol-zoom-out {
    color: transparent !important;
    width: 34px !important;
    height: 34px !important;
    margin-bottom: 5px !important;
    background-color: rgba(50, 50, 50, .7) !important;
    padding: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.ol-control button:hover {
    background-color: #323232 !important;
}

.ol-zoom-out::before {
    display: flex;
    margin: 2px auto 0;
    content: ' ';
    background-image: url('../images/minus.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.ol-zoom {
    background-color: transparent !important;
    left: 10px !important;
}

div#SpecialSquawkWarning {
    position: absolute;
    bottom: 25px;
    right: 430px;
    border: 2px solid red;
    background-color: #FFFFA3;
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding: 5px;
    text-align: center;
}

div#update_error {
    position: absolute;
    bottom: 25px;
    left: 25px;
    border: 2px solid red;
    background-color: #FFFFA3;
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding: 5px;
    text-align: center;
}

#loader1 {
    display: none;
}

div#loader {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

div#loader.hidden {
    display: none;
}

#spinny {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
}

#loader_progress {
    width: 250px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 128px 0 0 -125px;
}

#tableinfo {
    font-size: small;
}

#sudo_buttons {
    display: flex;
    padding: 15px 40px 15px 40px;
    justify-content: space-between;
}

#units_container, #altitude_filter_form {
    font-size: small;
    margin: 10px 0 10px 0;
}

.aircraft_table_header {
    cursor: pointer;
}

.aircraft_table_header td {
    padding: 12px 12px;
    text-align: center;
    font-weight: 600;
}

.verticalRateTriangle {
    font-family: "Courier New", monospace;
}

.icaoCodeColumn {
    text-transform: uppercase;
}

.vPosition {
    background-color: #fff;
}

.mlat {
    background-color: #FDF2E5;
}

.other {
    background-color: rgba(204, 213, 248, .3);
}

.tisb {
    background-color: #FFF3B8;
}

.squawk7500 {
    font-weight: bold;
    background-color: #ff5555;
}

.squawk7600 {
    font-weight: bold;
    background-color: #00ffff;
}

.squawk7700 {
    font-weight: bold;
    background-color: #ffff00;
}

.selected {
    background-color: #dddddd;
}

.plane_table_row {
    cursor: pointer;
}

.hidden {
    display: none;
}

.infoblock_heading {
    font-size: larger;
}

.infoblock_heading a {
    text-decoration: none;
    color: blue;
    font-size: x-small;
}

.dim {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* For IE8 and earlier */
}

.pointer {
    cursor: pointer;
}

.sidebarButton {
    background-color: #409EDF;
    padding: 4px 15px 4px 15px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: small;
}

.sidebarButton:hover {
    background-color: #3c6ea3;
}

.altitudeFilterInput {
    width: 50px;
}

.rangeRingsInput {
    width: 30px;
    float: right;
}

.rangeOptions {
    width: 170px;
    padding-top: 8px;
    text-indent: 10px;
}

.set_range_rings_button {
    padding-top: 8px;
}

select.error, textarea.error, input.error {
    color: #FF0000;
}

.layer-switcher {
    bottom: 20px !important;
    top: auto !important;
    right: 80px !important;
}

.nav-bottom {
    display: none;
}

/* new css */

.rangeRingText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 8px;
    color: #333333;
    color: rgb(51, 51, 51);
}

.dateTime {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    line-height: 60px;
    text-align: right;
    display: inline-block;
    padding-right: 20px;
}

.infoHeading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #002F5D;
}

.infoHeading .container {
    display: flex;
}

.infoHeading sub {
    font-weight: normal;
}

.infoData {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.sectionTitle {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #002F5D;
    font-size: 14px;
}

.section-title-content {
    padding: 5px 20px;
}

#plane_row_template img {
    margin-left: 12px;
}

.legend {
    width: 100%;
    font-size: 12px;
    color: #000000;
    color: rgb(0, 0, 0);
    display: inline-flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 15px;
}

.link {
    font-size: 10px;
    line-height: 20px;
    color: #0000C8;
    color: rgb(0, 0, 200);
    text-decoration: underline;
}

.infoBlockTitleText.infoblock_body {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#header {
    width: 100%;
    height: 60px;
    background: rgba(51, 153, 255, 1);
    display: flex;
    z-index: 1000;
    position: absolute;
    top: 0;
    display: none;
}

.infoblock_body td {
    display: flex;
    width: 33%;
}

.flightawareLogo {
    background-color: #FFF;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    width: 121px;
    height: 46px;
    box-shadow: inset -12px 0 12px -12px #000000;
}

.adsbLogo {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.piAwareLogo {
    width: 235px;
    height: 24px;
}

.flightfeederLogo {
    width: 229px;
    height: 24px;
}

.logoContainer {
    flex: 1;
}

.buttonContainer {
    margin-left: auto;
}

.buttonText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    background: #00A0E2;
    min-width: 80px;
    text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    padding: 6px 20px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.lightblue-link, .lightblue-link a {
    color: #00A0E2;
}

.buttonHeader {
    margin-top: 15px;
}

.table td, .table th {
    border-top: 1px solid #ececec;
}

.buttonTable {
    margin-bottom: 5px;
}

#dump1090_infoblock {
    padding: 20px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #323232
}

.settingsContainer {
    padding-right: 60px;
    padding-left: 2px;
    margin-top: 18px;
    margin-left: auto;
    cursor: pointer;
}

#highlighted_infoblock {
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 9px;
}

.highlightedTitle {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
}

.highlightedInfo {
    padding-left: 10px;
}

.identLarge {
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    padding: 12px 8px 12px 8px;
    position: relative;
}

.identSmall {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #00A0E2;
    color: rgb(0, 160, 226);
}

.highlightedInfo {
    padding-bottom: 12px;
}

.infoRowTitle {
    display: inline-block;
}

.infoRowContent {
    display: inline-block;
}

.infoRowFluid {
    display: inline-block;
}

.infoRow {
    padding-top: 10px;
}

.infoRowLine {
    width: 49%;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
}

.removePadding {
    padding: 0;
}

.rightLink {
    float: right;
    padding-right: 5px;
}

.infoBlockTopSection {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 8px;
}

.infoBlock45pxSection {
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.infoBlockSection {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
}

.lightGreyBackground {
    background-color: #efefef;
}

.infoBlockTitleText {
    font-weight: bold;
}

.infoBlockTitleText div {
    text-align: left;
}
.table td, .table th {
    text-align: center;
    padding: 1rem;
}

.table #plane_row_template td {
    text-align: center !important;
}

.table #plane_row_template td a {
    color: #004cff;
}

.legendBox {
    width: 15px;
    height: 15px;
    border: 1px solid #efefef;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#adsbLegendBox {
    background-color: #E5F6FC;
}

#mlatLegendBox {
    background-color: #FDF2E5;
}

#otherLegendBox {
    background-color: #E6E6E6;
}

#tisbLegendBox {
    background-color: #CCD5DF;
}

.legendTitle {
    line-height: 19px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 5px;
}

.settingsOptionContainer {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    text-align: left;
    justify-content: flex-start;
}

.settingsCheckbox, .columnSelectCheckbox, .columnSelectAllCheckbox {
    width: 24px;
    height: 11px;
    background-image: url('../images/box-empty.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    flex-basis: 8%;
    margin-top: 5px;
    display: flex;
}

.settingsText {
    flex-basis: 92%;
}

.settingsCheckboxChecked {
    background-image: url('../images/box-checked.png') !important;
}

.settingsCloseBox {
    position: absolute;
    right: 2px;
    top: 3px;
    padding: 15px;
    cursor: pointer;
}

.settingsColumn {
    padding: 30px 20px 20px;
}

.settingsText {
    margin-left: 12px;
    text-align: left;
    font-size: 14px;
}

#altitude_chart {
    float: right;
    width: calc(100% - 5px);
    max-width: 800px;
    right: 5px;
    bottom: 35px;
    display: none;
    background-color: transparent !important;
}

.change-layer.settingsCheckboxChecked {
    background-image: none !important;
}

#altitude_chart_button {
    background-image: url('../images/alt_legend_feet.svg');
    background-size: cover;
    background-color: transparent;
    width: 100%;
    height: 0;
    display: none;
    padding: 0;
    padding-bottom: calc(100% * 56 / 1815);
}

.altitudeMeters {
    background-image: url('../images/alt_legend_meters.svg') !important;
}

/* remove the blue highlighting around the map buttons */

.ol-control button {
    outline: none;
}

.bottom-container {
    width: 100%;
    margin-top: 8px;
    padding: 40px 0px;
    text-align: center;
    background-color: #eee;
}

#selected_flightaware_link a {
    background-color: #00a0e2;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.bottom-info-container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #002F5D;
    line-height: 18px;
}

.bottom-info-container img {
    vertical-align: middle;
}

.bottom-info-container .bottom-info-text {
    vertical-align: middle;
    display: inline;
}

.selected_airframe a {
    color: #002F5D;
}

.infoblock-container-small .infoRowFluid {
    display: block;
}

.ol-attribution.ol-uncollapsible {
    display: none;
}

.header {
    display: none;
}

#column_select {
    display: none;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    text-align: center;
    z-index: 2;
    padding-bottom: 50px;
}

.logo-login {
    margin-top: auto;
}
 
.form-signin .btn {
    width: 100%;
    margin-top: 20px;
    border-radius: .25rem;
    padding: 0.8rem;
    background-color: #3d3d3d;
    border-color: #3d3d3d;

}
.form-signin .btn:hover {
    background-color: #323232;
    border-color: #323232;
}
 
.form-signin .form-control {
    border: 1px solid #e5e5e5;
    color: #666;
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
}

.form-signin .form-floating>label {
    color: #666;
    padding: 1rem 1.2rem;
    font-size: 14px;
}
.main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('/sky/images/air.jpg');
    height: 100%;
    position: relative;  
}
.main::after {
    content: '';
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    background-color: rgba(255, 255, 255, .7);
    background: transparent;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0.4)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%);
}
.svg-calLoader {
    width: 230px;
    height: 230px;
    transform-origin: 115px 115px;
    animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
    fill: #0c99d6;
}

.cal-loader__path {
    stroke: #ffffff;
    animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader-path {
    0% {
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
    50% {
        stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
    }
    100% {
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
}

@media screen and (max-width: 767px) {
    .form-signin {
        margin-left: 20px;
        margin-right: 20px;
    }
    #dump1090_infoblock {
        padding: 15px;
        font-size: 14px;
    }
    #dump1090_infoblock table {
        width: 88% !important;
    }
    #sidebar_canvas .menu-close {
        z-index: 2;
        margin-top: 3px;
        margin-right: 3px;
    }
    #sidebar_container {
        width: 100%;
        z-index: 10;
    }
    .table-responsive {
        overflow-y: auto;
    }
    .legend {
        margin-bottom: 62px;
    }
    #planes_table {
        overflow-y: auto;
    }
    #planes_table_container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 53px;
    }
    #settings_infoblock {
        width: 100%;
    }
    .air-table.active, .change-layer-mobile.active, #settingsCog1.active {
        background-color: #0c99d6;
    }
    #tableinfo {
        width: 100%;
        height: 100%;
    }
    #dump1090_infoblock {
        position: relative;
    }
    #sidebar_container {
        height: 100%;
    }
    .aircraft-image {
        height: 212px;
        width: auto;
        overflow: hidden;
    }
    .aircraft-image img.spin-animation {
        max-height: 80px;
        max-width: 80px;
    }
    .air-menu .aircraft-data>div {
        width: 100%
    }
    .air-menu-wrapper {
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }
    .right-nav {
        display: none;
    }
    .air-menu .aircraft-data {
        overflow-y: auto;
    }
    #layout_container, html, body {
        overflow: auto;
    }
    #layout_container {
        position: relative;
    }
    .nav-bottom {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 15;
        left: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
        transform: translate(0, 0);
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .nav-bottom.hidden {
        transform: translateY(200%);
    }
    .ol-scale-line {
        background: rgba(51, 153, 255, .5) !important;
    }
    #plane_row_template img {
        margin: 0;
    }
    .header {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 10px 12px;
        background: rgba(255, 255, 255, .6);
        align-items: center;
    }
    .infoBlockTitleText {
        display: flex;
        justify-content: space-between;
    }
    .infoblock_body td {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .infoblock_body td:last-child {
        text-align: right;
    }
    .close-sidebar {
        display: block;
        z-index: 1;
        position: absolute;
        right: -7px;
        top: -5px;
        padding: 10px;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .layer-switcher {
        display: none;
    }
    #dump1090_total_ac, #dump1090_total_ac_positions, #dump1090_message_rate {
        margin-left: 0;
    }
    .ol-scale-line-inner {
        width: 50px !important;
    }
    .ol-scale-line {
        position: absolute;
        top: auto;
        left: 10px;
        bottom: 65px;
        display: inline-flex;
        background-color: rgba(50, 50, 50, .5) !important;
    }
    .header .logo {
        display: flex;
        align-items: center;
    }
    .header .logo img {
        height: 36px;
        width: auto;
    }
    #settings_infoblock .settingsTitle {
        font-size: 14px;
    }
    .header .logo span {
        font-weight: 700;
        margin-left: 15px;
        font-size: 20px;
    }
    #sidebar_canvas {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
    }
    .nav-bottom>div {
        flex: 1;
        height: 100%;
        padding: 14px 0 17px;
        display: flex;
        justify-content: center;
        height: 56px;
        align-items: center;
    }
    .air-menu {
        display: block;
        height: auto;
    }
    .nav-bottom .logo {
        flex-basis: 50px;
    }
    .nav-bottom .circle-logo {
        width: 80px;
        height: 80px;
        position: absolute;
        background: rgba(255, 255, 255, .99);
        border-radius: 100%;
        display: flex;
        bottom: -15px;
        align-items: center;
        border: solid 2px #323232;
        justify-content: center;
    }
    .buttonHeader {
        display: none;
    }
    .nav-bottom>div.logo img {
        height: 54px;
        width: auto;
        margin-bottom: 14px;
    }
    .ol-zoom-out::before, .ol-zoom-in::before {
        background-size: 14px 14px;
        height: 14px;
        width: 14px;
    }
    .ol-zoom-in, .ol-zoom-out {
        width: 26px !important;
        height: 26px !important;
        background-color: rgba(50, 50, 50, .7) !important;
    }
}

/* Retina 2x images */

:root {
    --color-1: rgba(241, 72, 73, 1);
    --color-04: rgba(241, 72, 73, 0.4);
    --color-00: rgba(241, 72, 73, 0.0);
}

.circle {
    position: relative;
    height: 360px;
    width: 360px;
    margin: auto;
}

.circle::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--color-1);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: cdot linear 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.circle .wave {
    position: absolute;
    left: 7%;
    top: 7%;
    width: 86%;
    height: 86%;
    background: var(--color-04);
    border-radius: 50%;
    opacity: 0;
    animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 3s 0s;
    animation-iteration-count: infinite;
}

.circle .wave::after {
    content: "";
    position: absolute;
    left: 7%;
    top: 7%;
    width: 86%;
    height: 86%;
    background: var(--color-04);
    border-radius: 50%;
    opacity: 0;
    animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 3s 0.1s;
    animation-iteration-count: infinite;
}

@keyframes cdot {
    0% {
        opacity: 0;
        background: var(--color-1);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        background: var(--color-00);
    }
}

@keyframes radarWave {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    5% {
        background: var(--color-04);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        background: var(--color-00);
    }
}